/*general*/
p, a {
    font-family: Verdana;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
div {
    background-color: #E0E0E0;
}
table {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
th, tr, td, table {
    border: 3px solid black;
    background-color: #efefef;
}
h2, h3, h1 {
    font-family: Times New Roman;
    padding: 5px;
    margin: 5px;
    font-size:50px;
    text-align: Center;
}
button {
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    font-size: 20px;
}
select {
    padding: 5px;
    margin: 5px;
}
nav {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
/*classes*/
.row_input {
    width: 100%;
    font-size: 20px;
}
.login {
    padding: 15px;
    display: flex;
    justify-content: center;
}
.delete_btn {
    color: red;
    padding: 3px;
    margin: 10px;
}
.footer {
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.content_holder {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
}
.popup {
    display: block;
    background-color: coral;
    width: 30px;
    height: 10px;
    position: fixed;
    left: auto;
    right: 10px;
}
.popup_message {
    padding: 0 10px 0 10px;
    width: 1%;
    color: white;
}
.q_div {
    display: flex;
    justify-content: space-between;
}
.q_tab {
    display: grid;
    width: 300px;
    height: 200;
    align-content: baseline;
    margin-left: auto;
    margin-right: auto;
}
.select_table {
    margin-left:auto;
    margin-right:auto;
}
.mail_temp {
    border: none;
    background-color: #E0E0E0;
    margin-bottom: 15px;
    color: blue;
}
/*id*/
#nav_content {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#submitBtn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#table_add {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#table_load {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#table_div {
    text-align: center;
    font-size: 30px;
}
#message {
    font-size: 20px;
    margin-bottom: 15px;
}
#subject {
    font-size: 20px;
    margin-bottom: 15px;
}
#recipients {
    font-size: 20px;
    margin-bottom: 15px;
}
#signature {
    font-size: 20px;
    margin-bottom: 15px;
}
#mail_form {
    width: min-content;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
#mail_form.input {
    width: 300px;
    padding-left: 5px;
}
#q_div1 {
    margin-top: auto;
}
#q_div2 {
    margin-right: 15%;
}
#excel_1 {
    font-size: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 15px;
}
#excel_2 {
    font-size: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#selected_table {
    font-size: 20px;
}
